*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    h1{
        text-align: center;
    }

}
@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%;
    height: 100%;
    @include flexCenter();

    #calculatorcon{
        position: relative;
        height: 70%;
        width: 35%;
        background-color: rgb(200, 161, 207);
        border-radius: 10px;
        #screen{
            height: 90px;
            width: 100%;
            background-color: #660968;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            @include flexCenter();
            color:white;


            .active{
                display: block;
                color:white;
            }
        }


            #numbers{
               display: grid;
               grid-template-columns: 1fr 1fr 1fr ;
               grid-template-rows: 1fr 1fr 1fr;
               grid-template-areas: "no no no"
                                    "no no no"
                                    "signs signs signs";
                grid-gap:5px;

                .no{
                    @include flexCenter();
                    padding: 20px;
                    height: 20px;
                    width: 20px;
                    background-color: red;
                }
                .op{
                    @include flexCenter();
                    padding: 20px;
                    height: 20px;
                    width: 20px;
                    background-color: red;
                }
               

            }
            #clear{
                @include flexCenter();
                padding: 20px;
                    height: 20px;
                    width: 20px;
                    margin-top : 20px;
                    background-color: rgb(237, 40, 46);
            }
          
            
        
    }
    
}