*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
@mixin flexcenter(){
  display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%;
    width: 100%;
    @include flexcenter();
  

}
#star-rating-container{
    height: 50%;
    width: 50%;
    background-color: rgb(142, 92, 100);
    @include flexcenter();
    gap:10px;
    
    

}
.star {
  font-size: 30px;
  color: lightgray;   /* default color */
}

.star.hovered {
  color: rgb(13, 255, 0) !important;   /* preview */
}

.star.selected {
  color: goldenrod !important;         /* clicked */
}

